<div class="example-container">
  <h1>PP-PIPE 登入</h1>
  <mat-form-field appearance="fill">
    <mat-label>請輸入信箱</mat-label>
    <input matInput placeholder="pat@example.com" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <br/>

  <mat-form-field appearance="fill">
    <mat-label>請輸入密碼</mat-label>
    <input matInput [type]="!hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <br/>

  
  <button mat-raised-button color="primary" style="margin-right:5px;" (click)=onClear()>清除</button>
  <button mat-raised-button color="primary" style="margin-right:5px;" (click)=onLogin()>登入</button>

</div>