.example-container {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 10px;
  border: 1px solid gray;
}

.mat-form-field {
  width: 80%
}


.greenFont
{
  color: green;
}

.redFont
{
  color: red;
}

.largeFont
{
  font-size: 30px;
}

.smallFont
{
  font-size: 10px;
}